%h1 Bienvenido esto es Pit
%p Pit es una herramienta diseñada para organizar servicios y clientes de centros de lubricación
%p En Servicios usted podrá crear un nuevo servicio y en Registro podrá ver los servicios que estan registrados
%p Recuerda que esto es la versión ALPHA y no esta pensada para utilizarse en PRODUCCIÓN